[submodule "pack/main/start/ctrlp.vim"]
	path = pack/main/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "pack/main/start/tender.vim"]
	path = pack/main/start/tender.vim
	url = https://github.com/jacoborus/tender.vim.git
[submodule "pack/main/start/supertab"]
	path = pack/main/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "pack/main/start/vim-airline"]
	path = pack/main/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/main/start/vim-rails"]
	path = pack/main/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "pack/main/start/vim-slim"]
	path = pack/main/start/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "pack/main/start/vim-easymotion"]
	path = pack/main/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "pack/main/start/vim-endwise"]
	path = pack/main/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "pack/main/start/vim-ruby"]
	path = pack/main/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
